<div class="login-body">

    <div class="login-panel"></div>

    <div class="login-content">
        <img src="../../assets/layout/images/logo-black.png" alt="babylon-layout" />

        <h1><span>SIGN IN</span> TO TRAVERSE</h1>
        <p>Welcome, please use the form to sign-in.</p>

        <div class="login-input-wrapper">
            <input type="text" autocomplete="off" placeholder="Username" class="ui-inputtext ui-widget">
        </div>

        <div class="login-input-wrapper">
            <input type="password" autocomplete="off" placeholder="Password" class="ui-inputtext ui-widget">
        </div>

        <button type="button" (click)="signIn()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-button-text ui-c">Sign In</span>
        </button>
    </div>
