<div class="ui-g">
    <div class="ui-g-12">
        <div class="card docs no-margin">

            <h1>Current Version</h1>
            <p>Angular 8 and PrimeNG 8</p>

            <h1>Dependencies</h1>
            <p>Babylon has no direct dependency other than PrimeNG. More information about dependencies is available at <a href="https://www.primefaces.org/why-primeng-templates/">Why PrimeNG Templates</a> article.</p>

            <h1>Getting Started</h1>
            <p>Babylon is a true native application template for Angular and is distributed as a CLI project. In case CLI is not installed already, use
                the command below to set it up.</p>

<pre class="doc-command">
npm install -g @angular/cli
</pre>

            <p>Once CLI is ready in your system, extract the contents of the Babylon zip file distribution, cd to the directory,
            install the libraries from npm and then execute "ng serve" to run the application in your local environment.</p>
<pre class="doc-command">
cd babylon
npm install
ng serve
</pre>

            <p>The application should run at http://localhost:4200/, you may now start with the development of your application.</p>

            <h1>Important CLI Commands</h1>
            <p>Following commands are derived from CLI.</p>
<pre class="doc-command">
Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.
</pre>

            <h1>Structure</h1>
            <p>Babylon consists of 3 main parts; the application layout, layout resources and theme resources for PrimeNG components. <i>app.component.html</i> inside app folder is the html template for the base layout,
                required resources for the layout are placed inside the <i>src/assets/layout</i> folder and similarly theme resources are inside <i>src/assets/theme</i> folder.
            </p>

            <h1>Template</h1>
            <p>Main layout is the html template of the app.component.ts, it is divided into a couple of sections such as topbar, sidebar and footer. Here is the code for
                the main template. The component class app.component.ts implements the logic such as opening menus and managing layout modes.
            </p>
<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper" (click)="onLayoutClick()"
    [ngClass]="&#123;'layout-static': isStatic(),
                'layout-overlay': isOverlay(),
                'layout-overlay-active': overlayMenuActive,
                'layout-horizontal': isHorizontal(),
                'layout-slim': isSlim(),
                'layout-static-inactive': staticMenuDesktopInactive,
                'layout-mobile-active': staticMenuMobileActive,
                'layout-menu-dark':darkMenu,
                'layout-menu-light':!darkMenu&#125;"&gt;

    &lt;app-topbar&gt;&lt;/app-topbar&gt;

    &lt;div class="layout-menu-container" (click)="onMenuClick($event)"&gt;
        &lt;div class="layout-menu-logo"&gt;
            &lt;a href="#"&gt;
                &lt;img src="assets/layout/images/logo-white.png" library="babylon-layout" /&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="layout-menu-wrapper"&gt;
            &lt;p-scrollPanel #layoutMenuScroller [style]="&#123;height: '100%' &#125;"&gt;
                &lt;div class="menu-scroll-content"&gt;
                    &lt;app-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"&gt;&lt;/app-inline-profile&gt;
                    &lt;app-menu [reset]="resetMenu"&gt;&lt;/app-menu&gt;
                &lt;/div&gt;
            &lt;/p-scrollPanel&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="layout-main"&gt;
        &lt;app-breadcrumb&gt;&lt;/app-breadcrumb&gt;

        &lt;div class="layout-content"&gt;
            &lt;router-outlet&gt;&lt;/router-outlet&gt;
        &lt;/div&gt;

    &lt;/div&gt;

    &lt;app-footer&gt;&lt;/app-footer&gt;

    &lt;div class="layout-mask"&gt;&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

            <h1>Menu</h1>
            <p>Menu is a separate component defined in app.menu.component.ts file based on PrimeNG MenuModel API. In order to define the menuitems,
            navigate to this file and define your own model as a nested structure. Here is the menu component from the sample application. The helper
            app-submenu component is also available in the same file.</p>
<div style="height:400px;overflow: auto;">
<pre>
<code class="language-javascript" pCode>
import &#123;Component, Input,&#125; from '@angular/core';
import &#123;trigger, state, style, transition, animate&#125; from '@angular/animations';
import &#123;MenuItem&#125; from 'primeng/api';
import &#123;AppComponent&#125; from './app.component';

@Component(&#123;
    selector: 'app-menu',
    template: `
        &lt;ul app-submenu [item]="app.grouped ? modelGrouped : modelUngrouped" root="true" class="layout-menu"
            visible="true" [reset]="reset" parentActive="true"&gt;&lt;/ul&gt;
    `
&#125;)
export class AppMenuComponent implements OnInit, AfterViewInit &#123;

    @Input() reset: boolean;

    modelGrouped: any[];

    modelUngrouped: any[];

    constructor(public app: AppComponent) &#123; &#125;

    ngOnInit() &#123;
        this.modelGrouped = [
            &#123; label: 'Home Page', icon: 'pi pi-fw pi-home',
                items: [
                    &#123;label: 'Dashboard', icon: 'pi pi-fw pi-home', routerLink: ['/']&#125;
                ]
            &#125;,
            &#123; label: 'Customization', icon: 'pi pi-fw pi-cog',
                items: [
                    &#123;
                        label: 'Menu Layouts', icon: 'pi pi-fw pi-th-large', badge: 2,
                        items: [
                            &#123; label: 'Static', icon: 'pi pi-fw pi-bars', command: () => this.app.layoutMode = 'static' &#125;,
                            &#123; label: 'Overlay', icon: 'pi pi-fw pi-bars', command: () => this.app.layoutMode = 'overlay' &#125;,
                            &#123; label: 'Slim', icon: 'pi pi-fw pi-bars', command: () => this.app.layoutMode = 'slim' &#125;,
                            &#123; label: 'Horizontal', icon: 'pi pi-fw pi-bars', command: () => this.app.layoutMode = 'horizontal' &#125;,
                            &#123; label: 'Grouped Menu', icon: 'pi pi-fw pi-bars', command: () => this.app.grouped = true &#125;,
                            &#123; label: 'Ungrouped Menu', icon: 'pi pi-fw pi-bars', command: () => this.app.grouped = false &#125;
                        ]
                    &#125;,
                    &#123;
                        label: 'Menu Colors', icon: 'pi pi-fw pi-list', badge: 2,
                        items: [
                            &#123; label: 'Light', icon: 'pi pi-fw pi-circle-off', command: () => this.app.darkMenu = false &#125;,
                            &#123; label: 'Dark', icon: 'pi pi-fw pi-circle-on', command: () => this.app.darkMenu = true &#125;
                        ]
                    &#125;,
                    &#123;label: 'User Profile', icon: 'pi pi-fw pi-user', badge: 2,
                        items: [
                            &#123;label: 'Popup Profile', icon: 'pi pi-fw pi-user',  command: () => this.app.profileMode = 'popup'&#125;,
                            &#123;label: 'Inline Profile', icon: 'pi pi-fw pi-user',  command: () => this.app.profileMode = 'inline'&#125;
                        ]
                    &#125;,
                    &#123;
                        label: 'Themes', icon: 'pi pi-fw pi-pencil', badge: 17,
                        items: [
                            &#123;
                                label: 'Blue', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('blue', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('blue', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('blue', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Blue Grey', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('bluegrey', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('bluegrey', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('bluegrey', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Light Blue', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lightblue', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lightblue', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lightblue', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Indigo', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('indigo', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('indigo', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('indigo', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Pink', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('pink', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('pink', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('pink', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Green', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('green', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('green', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('green', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Light Green', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lightgreen', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lightgreen', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lightgreen', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Teal', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('teal', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('teal', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('teal', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Cyan', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('cyan', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('cyan', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('cyan', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Lime', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lime', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lime', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('lime', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Amber', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('amber', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('amber', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('amber', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Orange', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('orange', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('orange', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('orange', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Deep Orange', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('deeporange', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('deeporange', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('deeporange', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Yellow', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('yellow', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('yellow', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('yellow', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Purple', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('purple', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('purple', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('purple', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Deep Purple', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('deeppurple', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('deeppurple', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('deeppurple', 'dark')
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'Brown', icon: 'pi pi-fw pi-pencil',
                                items: [
                                    &#123;
                                        label: 'Accent', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('brown', 'accent')
                                    &#125;,
                                    &#123;
                                        label: 'Light', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('brown', 'light')
                                    &#125;,
                                    &#123;
                                        label: 'Dark', icon: 'pi pi-fw pi-pencil',
                                        command: () => this.changeTheme('brown', 'dark')
                                    &#125;
                                ]
                            &#125;
                        ]
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'Components', icon: 'pi pi-fw pi-star',
                items: [
                    &#123; label: 'Sample Page', icon: 'pi pi-fw pi-th-large', routerLink: ['/sample']  &#125;,
                    &#123; label: 'Forms', icon: 'pi pi-fw pi-file', routerLink: ['/forms'] &#125;,
                    &#123; label: 'Data', icon: 'pi pi-fw pi-table', routerLink: ['/data'] &#125;,
                    &#123; label: 'Panels', icon: 'pi pi-fw pi-list', routerLink: ['/panels'] &#125;,
                    &#123; label: 'Overlays', icon: 'pi pi-fw pi-clone', routerLink: ['/overlays'] &#125;,
                    &#123; label: 'Menus', icon: 'pi pi-fw pi-plus', routerLink: ['/menus'] &#125;,
                    &#123; label: 'Messages', icon: 'pi pi-fw pi-spinner', routerLink: ['/messages'] &#125;,
                    &#123; label: 'Charts', icon: 'pi pi-fw pi-chart-bar', routerLink: ['/charts'] &#125;,
                    &#123; label: 'File', icon: 'pi pi-fw pi-upload', routerLink: ['/file'] &#125;,
                    &#123; label: 'Misc', icon: 'pi pi-fw pi-briefcase', routerLink: ['/misc'] &#125;
                ]
            &#125;,
            &#123;
                label: 'Pages', icon: 'pi pi-fw pi-copy',
                items: [
                    &#123; label: 'Empty Page', icon: 'pi pi-fw pi-clone', routerLink: ['/empty'] &#125;,
                    &#123; label: 'Landing Page', icon: 'pi pi-fw pi-globe', url: 'assets/pages/landing.html', target: '_blank' &#125;,
                    &#123; label: 'Login Page', icon: 'pi pi-fw pi-sign-in', url: 'assets/pages/login.html', target: '_blank' &#125;,
                    &#123; label: 'Error Page', icon: 'pi pi-fw pi-exclamation-triangle', url: 'assets/pages/error.html', target: '_blank' &#125;,
                    &#123; label: '404 Page', icon: 'pi pi-fw pi-times', url: 'assets/pages/404.html', target: '_blank' &#125;,
                    &#123;
                        label: 'Access Denied', icon: 'pi pi-fw pi-ban',
                        url: 'assets/pages/access.html', target: '_blank'
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'Hierarchy', icon: 'pi pi-fw pi-sitemap',
                items: [
                    &#123;
                        label: 'Submenu 1', icon: 'pi pi-fw pi-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 1.1', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 1.1.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.1.2', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.1.3', icon: 'pi pi-fw pi-sign-in' &#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 1.2', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 1.2.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.2.2', icon: 'pi pi-fw pi-sign-in' &#125;
                                ]
                            &#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Submenu 2', icon: 'pi pi-fw pi-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 2.1', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 2.1.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 2.1.2', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 2.1.3', icon: 'pi pi-fw pi-sign-in' &#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 2.2', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 2.2.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 2.2.2', icon: 'pi pi-fw pi-sign-in' &#125;
                                ]
                            &#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123; label: 'Get Started', icon: 'pi pi-fw pi-download',
                items: [
                    &#123;
                        label: 'Documentation', icon: 'pi pi-fw pi-file', routerLink: ['/documentation']
                    &#125;,
                    &#123;
                        label: 'Buy Now', icon: 'pi pi-fw pi-money-bill', url: ['https://www.primefaces.org/store']
                    &#125;
                ]
            &#125;
        ];

        this.modelUngrouped = [
            &#123;
                label: 'Main Menu', 
                icon: 'pi pi-fw pi-home',
                items: this.modelGrouped
            &#125;
        ];
    &#125;
&#125;
</code>
</pre>
</div>

            <h1>Integration with an Existing CLI Project</h1>
            <p>To setup Babylon in an existing project, follow the steps below;</p>

<ul>
    <li>Copy the <i>src/assets</i> folder to your projects folder with the same name</li>
    <li>Copy all app.* files and breadcrumb.service.ts to the src/app folder of your application.</li>
</ul>

          <p>Install PrimeNG</p>
<pre class="doc-command">
npm install primeng@latest --save
npm install primeicons@latest --save
</pre>

          <p>Add PrimeNG CSS at styles section in angular.json.</p>

<pre>
<code class="language-json" pCode>
"styles": [
    "../node_modules/primeng/resources/primeng.min.css",        //required: PrimeNG components
    "node_modules/primeicons/primeicons.css",                   //required: PrimeIcons
    "styles.scss"                                               //your styles and overrides
],
</code>
</pre>

            <p>Last part is adding theme and layout css files, in the CLI app they are defined using link tags in index.html so the demo can switch them on
            the fly by changing the path however if this is not a requirement, you may also add them to the styles configuration above so they go inside the bundle.</p>

            <h1>Theme</h1>

            <p>Babylon provides 51 PrimeNG theme colors out of the box. Setup of a theme is simple by including the css of theme to your bundle that are located inside assets/theme folder such as assets/theme/pink/theme-light.css.
                    A theme color offers 3 alternatives, in "accent" mode a secondary color is used for highlighted elements
                    and headers are displayed with the primary color. In "light" and "dark" alternatives, highlighted elements use the primary color and header elements
                    are displayed as light or dark. Full list of available themes are;</p>

            <ul>
                <li>amber</li>
                <li>blue</li>
                <li>bluegrey</li>
                <li>brown</li>
                <li>cyan</li>
                <li>deeporange</li>
                <li>deeppurple</li>
                <li>green</li>
                <li>indigo</li>
                <li>lightblue</li>
                <li>lightgreen</li>
                <li>lime</li>
                <li>orange</li>
                <li>pink</li>
                <li>purple</li>
                <li>teal</li>
                <li>yellow</li>
            </ul>

            <p>A custom theme can be developed by the following steps.</p>
            <ul>
                <li>Choose a custom theme name such as "mytheme".</li>
                <li>Create a folder named "mytheme" under <i>assets/theme folder</i>.</li>
                <li>Create a file such as theme.scss under <i>assets/theme/mytheme folder</i>.</li>
                <li>Define the variables listed below in your file and import the <i>../../sass/theme/_theme.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Include the generated theme.css to your page.</li>
            </ul>

            <p>Here are the variables required to create a theme.</p>
<div style="height:400px;overflow: auto;">
<pre>
<code class="language-css" pCode>
$primaryLighterColor:#BBDEFB;
$primaryColor:#2196F3;
$primaryDarkerColor:#1976D2;
$primaryDarkestColor:#1565C0;
$primaryColorText:#ffffff;

$accentColor:#FFC107;
$accentDarkerColor:#FFA000;
$accentColorText:#000000;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryColorText;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryColorText;
$clickableContainerHeaderIconColor:$primaryColorText;

$clickableContainerHeaderHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderHoverTextColor:$primaryColorText;
$clickableContainerHeaderHoverIconColor:$primaryColorText;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../../sass/theme/_theme';
</code>
</pre>
</div>

            <p> An example sass command to compile the css would be;</p>

<pre class="doc-command">
sass src/assets/theme/mytheme/theme.scss src/assets/theme/mytheme/theme.css
</pre>

            <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
            so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre class="doc-command">
sass --watch src/:src/ --no-source-map
</pre>

            <p>Same can also be applied to layout itself;</p>
            <ul>
                <li>Choose a layout name such as layout-myown.</li>
                <li>Create an empty file named layout-myown.scss inside <i>assets/layout/css</i> folder.</li>
                <li>Define the variables listed below and import the <i>/sass/layout/_layout.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Serve the css by importing it using a link tag or a bundler.</li>
            </ul>

            <p>Here are the variables required to create a layout.</p>
<pre>
<code class="language-css" pCode>
$logoBgColor:#42A5F5;
$topbarBgColor:#2196F3;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#64b5f6;
$lightMenuitemActiveTextColor:#2196F3;
$darkMenuitemActiveTextColor:#2196F3;
$horizontalMenuitemActiveBgColor:#2196F3;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#2196F3;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
</code>
</pre>

            <h1>Common SASS Variables</h1>
            <p>In case you'd like to customize the shared variables, the _variables.scss files are where the options are defined for both layout and theme.</p>

<h3>sass/_variables.scss</h3>
<pre>
<code class="language-css" pCode>
@import '../_variables';

//main
$bodyBgColor:#f2f2f2;
$dividerColor:#E0E0E0;

$footerBgColor:#ffffff;
$footerBorderColor:#e8e8e8;

//breadcrumb
$breadcrumbBgColor:#ffffff;
$breadcrumbBorder: 1px solid #e8e8e8;

//light menu
$menuBgColor:#ffffff;
$menuBorder: 1px solid #E0E0E0;
$menuSeparator:1px solid $dividerColor;
$rootMenuitemTextColor:$textSecondaryColor;
$menuitemTextColor:$textSecondaryColor;
$menuitemIconColor:$textSecondaryColor;
$menuitemHoverBgColor:#e0e0e0;

//dark menu
$darkMenuBgColor:#212121;
$darkMenuBorder: 1px solid #212121;
$darkMenuSeparator:1px solid #373737;
$darkMenuRootMenuitemTextColor:#757575;
$darkMenuitemTextColor:#BDBDBD;
$darkMenuitemIconColor:#BDBDBD;
$darkMenuitemHoverBgColor:#373737;

//topbar
$topbarMenuBgColor:#ffffff;
$topbarMenuBorderColor:#e0e0e0;
$topbarBadgeBgColor:#e0284f;
$topbarBadgeTextColor:#ffffff;

//card
$cardBgColor:#ffffff;
$cardBorder:1px solid #EEEEEE;

//tooltip
$tooltipBgColor:#212121;
$tooltipTextColor:#ffffff;
</code>
</pre>

<h3>sass/theme/_variables</h3>
<div style="height:400px;overflow: auto;">
<pre>
<code class="language-css" pCode>
@import '../_variables';
//icons
$iconWidth:1em;
$iconHeight:1em;
$iconFontSize:1.143em;

//anchor
$linkColor:$primaryColor;
$linkHoverColor:$primaryDarkerColor;
$linkActiveColor:$primaryDarkestColor;

//highlight
$highlightBgColor:$accentColor;
$highlightColorText:$accentColorText;

//input field
$inputPadding:.429em;
$inputBgColor:#f5f5f5;
$inputBorder:1px solid #E0E0E0;
$inputHoverBorderColor:#bdbdbd;
$inputFocusBorderColor:$primaryColor;
$inputErrorBorderColor:#EF5350;
$inputPlaceholderTextColor:#909090;
$inputFocusShadow:0 none;
$inputTransition:border-color $transitionDuration,box-shadow $transitionDuration;

//groups
$inputGroupBorderColor:#E0E0E0;
$inputGroupBgColor:#eeeeee;
$inputGroupTextColor:$textColor;

//input lists
$inputListMinWidth:12em;
$inputListBgColor:#ffffff;
$inputListPadding:0;
$inputListBorder:1px solid #E0E0E0;

$inputListItemPadding:0.429em 0.857em;
$inputListItemBgColor:transparent;
$inputListItemTextColor:$textColor;
$inputListItemHoverBgColor:$primaryLighterColor;
$inputListItemHoverTextColor:$primaryDarkestColor;
$inputListItemHighlightBgColor:$highlightBgColor;
$inputListItemHighlightTextColor:$highlightColorText;
$inputListItemBorder:0 none;
$inputListItemMargin:0;
$inputListItemDividerColor:#E0E0E0;
$inputListHeaderPaddingTop:0.429em;
$inputListHeaderPaddingLeft:0.857em;
$inputListHeaderPaddingRight:0.857em;
$inputListHeaderPaddingBottom:0.429em;
$inputListHeaderBgColor:#eeeeee;
$inputListHeaderTextColor:$textColor;
$inputListHeaderBorder:1px solid #E0E0E0;
$inputListHeaderMargin:0;
$inputListHeaderSearchIconColor:$textSecondaryColor;
$inputListHeaderCloseIconColor:$primaryColor;
$inputListHeaderCloseIconHoverColor:$primaryDarkerColor;
$inputListHeaderCloseIconTransition:color $transitionDuration;

//inputs with panels (e.g. password)
$inputContentPanelPadding:.857em;
$inputContentPanelBgColor:#ffffff;
$inputContentPanelTextColor:$textColor;

//inputs with overlays
$inputOverlayBorder:1px solid #E0E0E0;
$inputOverlayShadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);

//input dropdowns
$inputDropdownIconColor:$textSecondaryColor;

//button
$buttonTextOnlyPadding:0.429em 1em;
$buttonWithLeftIconPadding:0.429em 1em 0.429em 2em;
$buttonWithRightIconPadding:0.429em 2em 0.429em 1em;
$buttonIconOnlyPadding:0.429em;
$buttonIconOnlyWidth:2.143em;

$buttonBgColor:$primaryColor;
$buttonBorder:1px solid $primaryColor;
$buttonTextColor:$primaryColorText;

$buttonHoverBgColor:$primaryDarkerColor;
$buttonHoverTextColor:$primaryColorText;
$buttonHoverBorderColor:$primaryDarkerColor;

$buttonActiveBgColor:$primaryDarkestColor;
$buttonActiveTextColor:$primaryColorText;
$buttonActiveBorderColor:$primaryDarkestColor;

$buttonFocusOutline:2px dotted $primaryColor;
$buttonFocusOutlineOffset:1px;
$buttonTransition:background-color $transitionDuration,box-shadow $transitionDuration;
$raisedButtonShadow:0 3px 2px 0 rgba(0, 0, 0, 0.2);
$roundedButtonBorderRadius:1em;

$secondaryButtonBgColor:#F5F5F5;
$secondaryButtonBorder:1px solid #F5F5F5;
$secondaryButtonTextColor:#212121;
$secondaryButtonHoverBgColor:#E0E0E0;
$secondaryButtonHoverTextColor:#212121;
$secondaryButtonHoverBorderColor:#E0E0E0;
$secondaryButtonActiveBgColor:#BDBDBD;
$secondaryButtonActiveTextColor:#212121;
$secondaryButtonActiveBorderColor:#BDBDBD;

$warningButtonBgColor:#FFC107;
$warningButtonTextColor:#000000;
$warningButtonBorder:1px solid #FFC107;
$warningButtonHoverBgColor:#FFA000;
$warningButtonHoverTextColor:#000000;
$warningButtonHoverBorderColor:#FFA000;
$warningButtonActiveBgColor:#FF8F00;
$warningButtonActiveTextColor:#000000;
$warningButtonActiveBorderColor:#FF8F00;

$successButtonBgColor:#4CAF50;
$successButtonTextColor:#ffffff;
$successButtonBorder:1px solid #4CAF50;
$successButtonHoverBgColor:#388E3C;
$successButtonHoverTextColor:#ffffff;
$successButtonHoverBorderColor:#388E3C;
$successButtonActiveBgColor:#2E7D32;
$successButtonActiveTextColor:#ffffff;
$successButtonActiveBorderColor:#2E7D32;

$infoButtonBgColor:#2196F3;
$infoButtonTextColor:#ffffff;
$infoButtonBorder:1px solid #2196F3;
$infoButtonHoverBgColor:#1976D2;
$infoButtonHoverTextColor:#ffffff;
$infoButtonHoverBorderColor:#1976D2;
$infoButtonActiveBgColor:#1565C0;
$infoButtonActiveTextColor:#ffffff;
$infoButtonActiveBorderColor:#1565C0;

$dangerButtonBgColor:#FF5722;
$dangerButtonTextColor:#ffffff;
$dangerButtonBorder:1px solid #FF5722;
$dangerButtonHoverBgColor:#E64A19;
$dangerButtonHoverTextColor:#ffffff;
$dangerButtonHoverBorderColor:#E64A19;
$dangerButtonActiveBgColor:#D84315;
$dangerButtonActiveTextColor:#ffffff;
$dangerButtonActiveBorderColor:#D84315;

//checkbox
$checkboxWidth:20px;
$checkboxHeight:20px;
$checkboxActiveBorderColor:$primaryColor;
$checkboxActiveBgColor:$primaryColor;
$checkboxActiveHoverBgColor:$primaryDarkestColor;
$checkboxActiveTextColor:$primaryColorText;
$checkboxActiveHoverTextColor:$primaryColorText;
$checkboxActiveHoverBorderColor:$primaryColor;
$checkboxActiveFocusBgColor:$primaryDarkerColor;
$checkboxActiveFocusTextColor:$primaryColorText;
$checkboxActiveFocusBorderColor:$primaryDarkerColor;
$checkboxFocusBgColor:$inputBgColor;
$checkboxFocusTextColor:$primaryColor;
$checkboxFocusBorderColor:$inputHoverBorderColor;
$checkboxTransition:background-color $transitionDuration, border-color $transitionDuration;

//radiobutton
$radiobuttonWidth:20px;
$radiobuttonHeight:20px;
$radiobuttonActiveBorderColor:$primaryColor;
$radiobuttonActiveBgColor:$primaryColor;
$radiobuttonActiveTextColor:$primaryColorText;
$radiobuttonActiveHoverBgColor:$primaryDarkestColor;
$radiobuttonActiveHoverTextColor:$primaryColorText;
$radiobuttonActiveHoverBorderColor:$primaryColor;
$radiobuttonActiveFocusBgColor:$primaryDarkerColor;
$radiobuttonActiveFocusTextColor:$primaryColorText;
$radiobuttonActiveFocusBorderColor:$primaryDarkerColor;
$radiobuttonFocusBgColor:$inputBgColor;
$radiobuttonFocusTextColor:$primaryColor;
$radiobuttonFocusBorderColor:$primaryColor;
$radiobuttonTransition:background-color $transitionDuration, border-color $transitionDuration;

//togglebutton
$toggleButtonBgColor:#E0E0E0;
$toggleButtonBorder:1px solid #E0E0E0;
$toggleButtonTextColor:$textColor;
$toggleButtonIconColor:$textSecondaryColor;
$toggleButtonHoverBgColor:$primaryLighterColor;
$toggleButtonHoverBorderColor:$primaryLighterColor;
$toggleButtonHoverTextColor:$primaryDarkestColor;
$toggleButtonHoverIconColor:$primaryColor;
$toggleButtonActiveBgColor:$primaryColor;
$toggleButtonActiveBorderColor:$primaryColor;
$toggleButtonActiveTextColor:$primaryColorText;
$toggleButtonActiveIconColor:$primaryColorText;
$toggleButtonActiveHoverBgColor:$primaryDarkerColor;
$toggleButtonActiveHoverBorderColor:$primaryDarkestColor;
$toggleButtonActiveHoverTextColor:$primaryColorText;
$toggleButtonActiveHoverIconColor:$primaryColorText;
$toggleButtonFocusOutline:2px dotted $primaryColor;
$toggleButtonFocusBgColor:$primaryLighterColor;
$toggleButtonFocusBorderColor:$primaryLighterColor;
$toggleButtonFocusTextColor:$primaryDarkestColor;
$toggleButtonFocusIconColor:$primaryColor;
$toggleButtonActiveFocusBgColor:$primaryColor;
$toggleButtonActiveFocusBorderColor:$primaryColor;
$toggleButtonActiveFocusTextColor:$primaryColorText;
$toggleButtonActiveFocusIconColor:$primaryColorText;

//inplace
$inplacePadding:$inputPadding;
$inplaceHoverBgColor:$primaryLighterColor;
$inplaceHoverTextColor:$primaryDarkestColor;
$inplaceTransition:background-color $transitionDuration;

//rating
$ratingTransition:color $transitionDuration;
$ratingCancelIconColor:#E57373;
$ratingCancelHoverIconColor:#E57373;
$ratingIconFontSize:1.429em;
$ratingStarIconColor:$textColor;
$ratingStarIconHoverColor:$primaryDarkerColor;
$ratingStarActiveIconColor:$primaryColor;

//slider
$sliderBgColor:#e0e0e0;
$sliderBorder:0 none;
$sliderHeight:.286em;
$sliderWidth:.286em;
$sliderHandleWidth:1.429em;
$sliderHandleHeight:1.429em;
$sliderHandleBgColor:#bdbdbd;
$sliderHandleBorder:2px solid #bdbdbd;
$sliderHandleHoverBorder:2px solid $primaryLighterColor;
$sliderHandleHoverBgColor:$primaryLighterColor;
$sliderHandleBorderRadius:50%;
$sliderHandleTransition:background-color $transitionDuration;
$sliderRangeBgColor:$primaryColor;
$sliderHandleFocusBorder:2px solid $primaryColor;
$sliderHandleFocusBgColor:$primaryColor;

//calendar
$calendarWidth:18.571em;
$calendarNavIconColor:$textSecondaryColor;
$calendarNavIconHoverColor:$primaryColor;
$calendarNavIconTransition:color $transitionDuration;
$calendarHeaderCellPadding:0.286em;
$calendarButtonBarDivider:$inputBorder;
$calendarMultipleMonthDivider:$inputBorder;
$calendarPadding:0.857em;
$calendarTableMargin:0.857em 0 0 0;
$calendarCellPadding:0.286em;
$calendarCellDatePadding:0.286em;
$calendarCellDateHoverBgColor:$primaryLighterColor;
$calendarCellDateBorderRadius:$borderRadius;
$calendarCellDateSelectedBgColor:$highlightBgColor;
$calendarCellDateSelectedTextColor:$highlightColorText;
$calendarCellDateTodayBgColor:#ffffff;
$calendarCellDateTodayTextColor:$textColor;
$calendarTimePickerDivider: 1px solid #d8dae2;
$calendarTimePickerPadding:0.857em;
$calendarTimePickerIconColor:$textColor;
$calendarTimePickerIconFontSize:1.286em;
$calendarTimePickerTimeFontSize:1.286em;
$calendarTimePickerIconHoverColor:$primaryColor;

//spinner
$spinnerButtonWidth:1.429em;

//input switch
$inputSwitchSliderOffBgColor:$inputBgColor;
$inputSwitchHandleOffBgColor:darken($inputBgColor, 10%);
$inputSwitchBorderRadius:8px;
$inputSwitchSliderOffFocusBgColor:$inputBgColor;
$inputSwitchSliderOffHoverBgColor:$inputBgColor;
$inputSwitchSliderOnBgColor:lighten($highlightBgColor, 15%);
$inputSwitchSliderOnHoverBgColor:lighten($highlightBgColor, 15%);
$inputSwitchSliderOnFocusBgColor:lighten($highlightBgColor, 15%);
$inputSwitchHandleOnBgColor:lighten($highlightBgColor, 5%);
$inputSwitchHandleOffFocusBgColor:darken($inputBgColor, 20%);
$inputSwitchTransition:background-color $transitionDuration;

//panel common
$panelHeaderBorder:$containerHeaderBorder;
$panelHeaderBgColor:$containerHeaderBgColor;
$panelHeaderTextColor:$containerHeaderTextColor;
$panelHeaderIconColor:$containerHeaderIconColor;
$panelHeaderIconHoverColor:$containerHeaderIconHoverColor;
$panelHeaderIconTransition:color $transitionDuration;
$panelHeaderFontWeight:700;
$panelHeaderPadding:.857em 1em;
$panelContentBorder:1px solid #e0e0e0;
$panelContentBgColor:#ffffff;
$panelContentTextColor:$textColor;
$panelContentPadding:.571em 1em;
$panelFooterBorder:1px solid #e0e0e0;
$panelFooterBgColor:#ffffff;
$panelFooterTextColor:$textColor;
$panelFooterPadding:.571em 1em;
$clickablePanelHeaderBorder:$clickableContainerHeaderBorder;
$clickablePanelHeaderBgColor:$clickableContainerHeaderBgColor;
$clickablePanelHeaderTextColor:$clickableContainerHeaderTextColor;
$clickablePanelHeaderIconColor:$clickableContainerHeaderIconColor;
$clickablePanelHeaderIconTransition:color $transitionDuration;
$clickablePanelHeaderFontWeight:700;
$clickablePanelHeaderPadding:.857em 1em;
$clickablePanelHeaderHoverBgColor:$clickableContainerHeaderHoverBgColor;
$clickablePanelHeaderHoverBorder:$clickableContainerHeaderHoverBorder;
$clickablePanelHeaderHoverTextColor:$clickableContainerHeaderHoverTextColor;
$clickablePanelHeaderHoverIconColor:$clickableContainerHeaderHoverIconColor;
$clickablePanelHeaderActiveBgColor:$clickableContainerHeaderActiveBgColor;
$clickablePanelHeaderActiveBorder:$clickableContainerHeaderActiveBorder;
$clickablePanelHeaderActiveTextColor:$clickableContainerHeaderActiveTextColor;
$clickablePanelHeaderActiveIconColor:$clickableContainerHeaderActiveIconColor;
$clickablePanelHeaderActiveHoverBgColor:$clickableContainerHeaderActiveHoverBgColor;
$clickablePanelHeaderActiveHoverBorder:$clickableContainerHeaderActiveHoverHoverBorder;
$clickablePanelHeaderActiveHoverTextColor:$clickableContainerHeaderActiveHoverTextColor;
$clickablePanelHeaderActiveHoverIconColor:$clickableContainerHeaderActiveHoverIconColor;
$clickablePanelHeaderTransition:background-color $transitionDuration;

//accordion
$accordionSpacing:2px;

//tabview
$tabHeaderSpacing:.214em;
$tabsNavBorder:0 none;
$tabsNavBgColor:#ffffff;

//scrollpanel
$scrollPanelHandleBgColor:#bdbdbd;
$scrollPanelTrackBorder:0 none;
$scrollPanelTrackBgColor:#e0e0e0;

//paginator
$paginatorBgColor:#ffffff;
$paginatorBorder:$panelContentBorder;
$paginatorIconColor:$textSecondaryColor;
$paginatorPadding:0;
$paginatorElementPadding:0;
$paginatorElementWidth:2.286em;
$paginatorElementHeight:2.286em;
$paginatorElementHoverBgColor:$primaryLighterColor;
$paginatorElementHoverIconColor:$primaryDarkestColor;
$paginatorElementMargin:0;
$paginatorElementBorder:0 none;
$paginatorElementBorderRadius:0;

//table
$tableHeaderCellPadding:.500em 1.214em;
$tableHeaderCellBgColor:#ffffff;
$tableHeaderCellTextColor:$textColor;
$tableHeaderCellFontWeight:700;
$tableHeaderCellBorder:$panelContentBorder;
$tableHeaderCellHoverBgColor:$primaryLighterColor;
$tableHeaderCellHoverTextColor:$primaryDarkestColor;
$tableBodyRowBgColor:#F5F5F5;
$tableBodyRowTextColor:$textColor;
$tableBodyRowEvenBgColor:#ffffff;
$tableBodyRowHoverBgColor:$primaryLighterColor;
$tableBodyRowHoverTextColor:$primaryDarkestColor;
$tableBodyCellPadding:.500em 1.214em;
$tableBodyCellBorder:$panelContentBorder;
$tableFooterCellPadding:.500em 1.214em;
$tableFooterCellBgColor:#ffffff;
$tableFooterCellTextColor:$textColor;
$tableFooterCellFontWeight:500;
$tableFooterCellBorder:$panelContentBorder;
$tableResizerHelperBgColor:$primaryColor;

//schedule
$scheduleEventBgColor:$primaryColor;
$scheduleEventBorder:1px solid $primaryDarkerColor;
$scheduleEventTextColor:$primaryColorText;

//tree
$treeNodePadding:0.143em 0;
$treeNodeLabelPadding:0.286em;
$treeNodeContentSpacing:0.143em;

//lightbox
$lightBoxNavIconFontSize:2em;
$lightBoxNavIconColor:#ffffff;

//org chart
$organizationChartConnectorColor:#c8c8c8;

//messages
$messagesMargin:1em 0;
$messagesPadding:1em;
$messagesIconFontSize:1.714em;
$messageCloseIconFontSize:1.5em;

$infoMessageBgColor:#64B5F6;
$infoMessageBorder:1px solid #64B5F6;
$infoMessageTextColor:#000000;
$infoMessageIconColor:#000000;

$successMessageBgColor:#4CAF50;
$successMessageBorder:0 none;
$successMessageTextColor:#ffffff;
$successMessageIconColor:#ffffff;

$warnMessageBgColor:#FFD54F;
$warnMessageBorder:1px solid #FFD54F;
$warnMessageTextColor:#000000;
$warnMessageIconColor:#000000;

$errorMessageBgColor:#EF5350;
$errorMessageBorder:1px solid #EF5350;
$errorMessageTextColor:#ffffff;
$errorMessageIconColor:#ffffff;

//growl
$growlTopLocation:120px;
$growlIconFontSize:3.429em;
$growlMessageTextMargin: 0 0 0 4em;
$growlMargin:0 0 1em 0;
$growlPadding:1em;
$growlShadow:0 3px .429em 0 rgba(0, 0, 0, 0.16);
$growlOpacity:.9;

$toastMessageMargin:0 0 1em 0;
$toastShadow:0 3px .429em 0 rgba(0, 0, 0, 0.16);

//message
$messagePadding:$inputPadding;
$messageMargin:0;

//overlays
$overlayContentBorder:$panelContentBorder;
$overlayContentBorderColor:#e0e0e0;
$overlayContainerShadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);

//overlay panel
$overlayPanelCloseIconBgColor:$primaryDarkerColor;
$overlayPanelCloseIconColor:$primaryColorText;
$overlayPanelCloseIconHoverBgColor:$primaryDarkestColor;
$overlayPanelCloseIconHoverColor:$primaryColorText;

//tooltip
$tooltipBgColor:#212121;
$tooltipTextColor:#ffffff;
$tooltipPadding:$inputPadding;

//steps
$stepsItemBgColor:#ffffff;
$stepsItemBorder:1px solid #e0e0e0;
$stepsItemBorderRadius:$borderRadius;
$stepsItemNumberColor:$textColor;
$stepsItemTextColor:$textSecondaryColor;
$stepsItemWidth:2em;
$stepsItemHeight:2em;

//progressbar
$progressBarHeight:1.714em;
$progressBarBorder:0 none;
$progressBarBgColor:#e0e0e0;
$progressBarValueBgColor:$primaryColor;

//menu
$menuBgColor:$panelContentBgColor;
$menuBorder:$panelContentBorder;
$menuPadding:0;
$menuTextColor:$textColor;
$menuitemPadding:.571em .857em;
$menuitemMargin:0;
$menuitemTextColor:$textColor;
$menuitemIconColor:$textColor;
$menuitemHoverTextColor:$primaryDarkestColor;
$menuitemHoverIconColor:$primaryDarkestColor;
$menuitemHoverBgColor:$primaryLighterColor;
$menuitemActiveTextColor:$primaryDarkestColor;
$menuitemActiveIconColor:$primaryDarkestColor;
$menuitemActiveBgColor:$primaryLighterColor;
$submenuHeaderMargin: 0;
$submenuPadding: 0;
$overlayMenuBorder:1px solid #e0e0e0;
$overlayMenuShadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);

//misc
$maskBgColor:rgba(139, 139, 144, 0.72);
$inlineSpacing:.429em;
$chipsItemMargin:0 .286em 0 0;
$dataIconColor:$textSecondaryColor;
$dataIconHoverColor:$textColor;
$cardShadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);

//dialog
$dialogHeaderPadding:.5em;
$confirmDialogPadding:1.5em;

//general
$disabledOpacity:.5;   
</code>
</pre>
</div>

            <h1>Menu Modes</h1>
            <p>Menu has 4 modes, static, overlay, slim and horizontal. Layout container element in app.component.html is used to define which mode to use by adding specific classes. List
            below indicates the style classes for each mode. </p>
            <ul>
                <li>Static: "layout-wrapper layout-static"</li>
                <li>Overlay: "layout-wrapper layout-overlay"</li>
                <li>Slim: "layout-wrapper layout-slim"</li>
                <li>Horizontal: "layout-wrapper layout-horizontal"</li>
            </ul>

            <p>For example to create a horizontal menu, the div element should be in following form;</p>
<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper layout-menu-horizontal"&gt;
</code>
</pre>

            <p>It is also possible to leave the choice to the user by keeping the preference at a component and using an ngClass expression so that user can switch between modes. Sample
                    application has an example implementation of such use case. Refer to app.component.ts for an example.</p>

            <h1>Breadcrumb</h1>
            <p>Babylon has an optional built-in breadcrumb section right below the topbar.
                The items are dynamically generated using a BreadcrumbService where each main page that goes into the router-outlet should provide a collection of MenuItem instances.
                Here is an example component that updates the breadcrumb.</p>
<pre>
<code class="language-javascript" pCode>
import &#123;Component&#125; from '@angular/core';
import &#123;BreadcrumbService&#125; from '../../breadcrumb.service';

@Component(&#123;
    templateUrl: './controlpanel.component.html'
&#125;)
export class ControlPanelComponent &#123;

    constructor(private breadcrumbService: BreadcrumbService) &#123;
        this.breadcrumbService.setItems([
            &#123;label: 'Admin'&#125;,
            &#123;label: 'Control Panel', routerLink: ['/controlpanel']&#125;
        ]);
    &#125;

&#125;
</code>
</pre>

            <h1>Grid CSS</h1>
            <p>Babylon uses PrimeFlex CSS throughout the demos such as Dashboard, however any Grid library can be used with it since Babylon itself does not depend on PrimeFlex except demo pages.</p>

            <h1>Customizing Styles</h1>
            <p>It is suggested to add your customizations in the following sass files under the override folder instead of adding them to the
                scss files under sass folder to avoid maintenance issues after an update.</p>

            <ul>
                <li><b>_layout_variables</b>: Variables of the layout.</li>
                <li><b>_layout_styles</b>: Styles for the layout.</li>
                <li><b>_theme_variables</b>: Variables of the theme.</li>
                <li><b>_theme_styles</b>: Styles for the theme.</li>
            </ul>

            <h1>Migration Guide</h1>
            <h4>7.0.1 to 8.0.0</h4>
            <ul>
                <li>Update your project to Angular 8 with ng update. View the official update guide -<a href="https://update.angular.io/">https://update.angular.io/</a>- for more information.</li>
                <li>Update app.component.ts.</li>
                <li>Update app.menu.component.ts.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>7.0.0 to 7.0.1</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>1.0.0 to 7.0.0</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>
        </div>
    </div>
</div>
