<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h1>Empty Page</h1>
            <p>Use this page to start from scratch and place your custom content.</p>
            <button type="button" pButton label="Home" style="display:inline-block;margin-top:5px"></button>
        </div>
    </div>
</div>
