<div class="p-grid ui-fluid">
    <div class="p-col-12 p-lg-6">
        <!-- Left Side -->
        <div class="card card-w-title">
            <h1>InputText</h1>
            <div class="p-grid form-group">
                <div class="p-col-12 p-md-4">
                    <input type="text" pInputText placeholder="Name">
                </div>
                <div class="p-col-12 p-md-4">
                    <input type="text" pInputText placeholder="Email">
                </div>
                <div class="p-col-12 p-md-4">
                    <input type="text" pInputText placeholder="Phone">
                </div>
                <div class="p-col-12 p-md-4">
                    <input type="text" pInputText placeholder="Disabled" disabled="disabled">
                </div>
                <div class="p-col-12 p-md-4">
                    <input type="text" pInputText readonly="readonly" placeholder="Readonly">
                </div>
                <div class="p-col-12 p-md-4">
                    <input type="text" pInputText class="ng-dirty ng-invalid" placeholder="Invalid">
                </div>
            </div>
        </div>

        <div class="card card-w-title">
            <h1>TextArea</h1>
            <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Your Message" autoResize="autoResize"></textarea>
        </div>

        <div class="card card-w-title">
            <h1>AutoComplete</h1>
            <div class="p-grid form-group">
                <div class="p-col-12">
                    <label for="acSimple">Simple</label>
                </div>
                <div class="p-col-12" style="margin-bottom:10px">
                    <p-autoComplete id="acSimple" [(ngModel)]="country" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)"
                        field="name" [size]="30" [minLength]="1"></p-autoComplete>
                </div>

                <div class="p-col-12">
                    <label for="acAdvanced">Advanced</label>
                </div>
                <div class="p-col-12">
                    <p-autoComplete id="acAdvanced" [(ngModel)]="selectedBrands" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)"
                        [size]="30" [minLength]="1" [dropdown]="true" multiple="true">
                        <ng-template let-brand pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <img src="assets/demo/images/car/{{brand}}.png" style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                                <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>
        </div>

        <div class="card card-w-title">
            <h1>MultiSelect</h1>
            <p-multiSelect [options]="carOptions" [(ngModel)]="selectedMultiSelectCars"></p-multiSelect>
        </div>

        <div class="card card-w-title">
            <h1>Calendar</h1>
            <p-calendar [inline]="true"></p-calendar>

            <div class="p-grid form-group" style="margin-top:20px">
                <div class="p-col-12">
                    <label for="popup">Popup:</label>
                </div>
                <div class="p-col-12">
                    <p-calendar id="popup" placeholder="Popup" [showButtonBar]="true"></p-calendar>
                </div>
                <div class="p-col-12">
                    <label for="datetime">DateTime:</label>
                </div>
                <div class="p-col-12">
                    <p-calendar id="datetime" dateFormat="mm/dd/yy" showTime="true" placeholder="DateTime" [minDate]="yesterday"></p-calendar>
                </div>
                <div class="p-col-12">
                    <label for="time">Time:</label>
                </div>
                <div class="p-col-12">
                    <p-calendar id="time" showTime="true" [timeOnly]="true" placeholder="Time"></p-calendar>
                </div>
                <div class="p-col-12">
                    <label for="showIcon">Button:</label>
                </div>
                <div class="p-col-12">
                    <p-calendar id="showIcon" [showIcon]="true" placeholder="Button"></p-calendar>
                </div>
                <div class="p-col-12">
                    <label for="multiple">Multiple Month:</label>
                </div>
                <div class="p-col-12">
                    <p-calendar id="multiple" [numberOfMonths]="3" placeholder="Multiple Months"></p-calendar>
                </div>
                <div class="p-col-12">
                    <label for="month">Month Picker:</label>
                </div>
                <div class="p-col-12">
                    <p-calendar id="month" placeholder="Month Picker" dateFormat="mm/yy" view="month"></p-calendar>
                </div>
            </div>
        </div>

        <div class="card card-w-title">
            <h1>Chips</h1>
            <p-chips></p-chips>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <!-- Right Side -->
        <div class="card card-w-title">
            <h1>Checkboxes</h1>
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <p-checkbox name="cg" value="Xbox One" label="Xbox One" [(ngModel)]="checkboxValues"></p-checkbox>
                </div>
                <div class="p-col-12 p-md-4">
                    <p-checkbox name="cg" value="PS4" label="PS4" [(ngModel)]="checkboxValues"></p-checkbox>
                </div>
                <div class="p-col-12 p-md-4">
                    <p-checkbox name="cg" value="Wii U" label="Wii U" [(ngModel)]="checkboxValues"></p-checkbox>
                </div>
            </div>
        </div>

        <div class="card card-w-title">
            <h1>RadioButtons</h1>
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <p-radioButton name="rg" value="Xbox One" label="Xbox One" [(ngModel)]="radioValue"></p-radioButton>
                </div>
                <div class="p-col-12 p-md-4">
                    <p-radioButton name="rg" value="PS4" label="PS4" [(ngModel)]="radioValue"></p-radioButton>
                </div>
                <div class="p-col-12 p-md-4">
                    <p-radioButton name="rg" value="Wii U" label="Wii U" [(ngModel)]="radioValue"></p-radioButton>
                </div>
            </div>
        </div>

        <div class="card card-w-title">
            <h1>InputSwitch</h1>
            <p-inputSwitch [(ngModel)]="switchChecked"></p-inputSwitch>
        </div>

        <div class="card card-w-title">
            <h1>Dropdown</h1>
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity1"></p-dropdown>
        </div>

        <div class="card card-w-title">
            <h1>Password</h1>
            <input pPassword type="password" />
        </div>

        <div class="card card-w-title">
            <h1>Spinner</h1>
            <p-spinner></p-spinner>
        </div>

        <div class="card card-w-title">
            <h1>Slider</h1>
            <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>
        </div>

        <div class="card card-w-title">
            <h1>Listbox</h1>
            <p-listbox [options]="citiesListbox" [(ngModel)]="selectedCity2" checkbox="checkbox" filter="filter" multiple="multiple"></p-listbox>
        </div>

        <div class="card card-w-title">
            <h1>Rating</h1>
            <p-rating [(ngModel)]="ratingValue"></p-rating>
        </div>

        <div class="card card-w-title">
            <h1>ColorPicker</h1>
            <p-colorPicker [(ngModel)]="color" inline="true"></p-colorPicker>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Input Groups</h1>

            <div class="p-grid form-group">
                <div class="p-col-12 p-md-6">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <input type="text" pInputText placeholder="Username" style="border-left:0">
                    </div>
                </div>

                <div class="p-col-12 p-md-6">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">
                            <i class="pi pi-globe"></i>
                        </span>
                        <span class="ui-inputgroup-addon">
                            <i class="pi pi-shopping-cart"></i>
                        </span>
                        <input type="text" pInputText placeholder="Price" style="border-left:0;border-right:0">
                        <span class="ui-inputgroup-addon">$</span>
                        <span class="ui-inputgroup-addon">.00</span>
                    </div>
                </div>

                <div class="p-col-12 p-md-6">
                    <div class="ui-inputgroup">
                        <button pButton type="button" label="Search"></button>
                        <input type="text" pInputText placeholder="Keyword" style="border-left:0">
                    </div>
                </div>

                <div class="p-col-12 p-md-6">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon ui-inputgroup-addon-checkbox">
                            <p-checkbox></p-checkbox>
                        </span>
                        <input type="text" pInputText placeholder="Username" style="border-left:0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Editor</h1>
            <p-editor [style]="{'height':'320px'}"></p-editor>
        </div>
    </div>

    <div class="p-col-12 p-nogutter">
        <div class="p-grid">
            <div class="p-col-12 p-lg-6" style="padding-top:0">
                <div class="card card-w-title">
                    <h1>Buttons</h1>

                    <div class="p-grid">
                        <div class="p-col-12">ToggleButton</div>
                        <div class="p-col-12">
                            <p-toggleButton [(ngModel)]="toggleButtonChecked"></p-toggleButton>
                        </div>

                        <div class="p-col-12">SelectButton</div>
                        <div class="p-col-12">
                            <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                        </div>

                        <div class="p-col-12">Button</div>
                        <div class="p-col-12">
                            <button type="button" label="Bookmark" icon="pi pi-star" pButton></button>
                        </div>

                        <div class="p-col-12">Left Icon</div>
                        <div class="p-col-12">
                            <button type="button" label="Clear" pButton icon="pi pi-star"></button>
                        </div>

                        <div class="p-col-12">Right Icon</div>
                        <div class="p-col-12">
                            <button type="button" label="Clear" pButton icon="pi pi-star" iconPos="right"></button>
                        </div>

                        <div class="p-col-12">Icon Only</div>
                        <div class="p-col-12">
                            <button type="button" icon="pi pi-star" pButton></button>
                        </div>

                        <div class="p-col-12">Link</div>
                        <div class="p-col-12">
                            <a href="http://www.primefaces.org" target="_blank">Homepage</a>
                        </div>

                        <div class="p-col-12">SplitButton</div>
                        <div class="p-col-12">
                            <p-splitButton label="Save" icon="pi pi-check" [model]="splitButtonItems"></p-splitButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-lg-6" style="padding-top:0">
                <div class="card">
                    <h1>Buttons</h1>
                    <p>Raised and Flat buttons with various severities.</p>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-4" style="text-align:center">
                            <button pButton type="button" label="Primary" style="margin-bottom:10px"></button>

                            <button pButton type="button" label="Secondary" style="margin-bottom:10px" class="ui-button-secondary"></button>

                            <button pButton type="button" label="Success" style="margin-bottom:10px" class="ui-button-success"></button>

                            <button pButton type="button" label="Info" style="margin-bottom:10px" class="ui-button-info"></button>

                            <button pButton type="button" label="Warning" style="margin-bottom:10px" class="ui-button-warning"></button>

                            <button pButton type="button" label="Danger" style="margin-bottom:10px" class="ui-button-danger"></button>
                        </div>

                        <div class="p-col-12 p-md-4" style="text-align:center">
                            <button pButton type="button" label="Primary" style="margin-bottom:10px" class="ui-button-raised"></button>

                            <button pButton type="button" label="Secondary" style="margin-bottom:10px" class="ui-button-secondary ui-button-raised"></button>

                            <button pButton type="button" label="Success" style="margin-bottom:10px" class="ui-button-success ui-button-raised"></button>

                            <button pButton type="button" label="Info" style="margin-bottom:10px" class="ui-button-info ui-button-raised"></button>

                            <button pButton type="button" label="Warning" style="margin-bottom:10px" class="ui-button-warning ui-button-raised"></button>

                            <button pButton type="button" label="Danger" style="margin-bottom:10px" class="ui-button-danger ui-button-raised"></button>
                        </div>

                        <div class="p-col-12 p-md-4" style="text-align:center">
                            <button pButton type="button" label="Primary" style="margin-bottom:10px"></button>

                            <button pButton type="button" label="Secondary" style="margin-bottom:10px" class="ui-button-secondary ui-button-rounded"></button>

                            <button pButton type="button" label="Success" style="margin-bottom:10px" class="ui-button-success ui-button-rounded"></button>

                            <button pButton type="button" label="Info" style="margin-bottom:10px" class="ui-button-info ui-button-rounded"></button>

                            <button pButton type="button" label="Warning" style="margin-bottom:10px" class="ui-button-warning ui-button-rounded"></button>

                            <button pButton type="button" label="Danger" style="margin-bottom:10px" class="ui-button-danger ui-button-rounded"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
