<div class="p-grid">
    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>AccordionPanel</h1>
            <p-accordion>
                <p-accordionTab header="Godfather I" [selected]="true">
                    The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son
                    ichael has just come home from the war, but does not intend to become part of his father's business.
                    T hrough Michael's life the nature of the family business becomes clear. The business of the family is
                    just like the head of the family, kind and benevolent to those who give respect, but given to ruthless
                    violence whenever anything stands against the good of the family.
                </p-accordionTab>
                <p-accordionTab header="Godfather II">
                    Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito
                    Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark
                    side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America
                    after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his
                    wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary
                    cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
                </p-accordionTab>
                <p-accordionTab header="Godfather III">
                    After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third
                    and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael
                    Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family
                    would one day be completely legitimate.
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Panel</h1>
            <p-panel header="Godfather I" [toggleable]="true">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
                son Michael has just come home from the war, but does not intend to become part of his father's business.
                Through Michael's life the nature of the family business becomes clear. The business of the family is just
                like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence
                whenever anything stands against the good of the family.
            </p-panel>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>TabView</h1>
            <p-tabView>
                <p-tabPanel header="Godfather I" leftIcon="pi pi-check">
                    The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son
                    ichael has just come home from the war, but does not intend to become part of his father's business.
                    T hrough Michael's life the nature of the family business becomes clear. The business of the family is
                    just like the head of the family, kind and benevolent to those who give respect, but given to ruthless
                    violence whenever anything stands against the good of the family.
                </p-tabPanel>
                <p-tabPanel header="Godfather II" leftIcon="pi pi-user">
                    Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito
                    Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark
                    side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America
                    after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his
                    wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary
                    cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
                </p-tabPanel>
                <p-tabPanel header="Godfather III" leftIcon="pi pi-phone">
                    After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third
                    and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael
                    Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family
                    would one day be completely legitimate.
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Fieldset</h1>
            <p-fieldset legend="Toggleable" toggleable="true">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
                son Michael has just come home from the war, but does not intend to become part of his father's business.
                Through Michael's life the nature of the family business becomes clear. The business of the family is just
                like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence
                whenever anything stands against the good of the family.
            </p-fieldset>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card card-w-title">
            <h1>Toolbar</h1>
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="New" icon="pi pi-plus"></button>
                    <button pButton type="button" label="Update" icon="pi pi-refresh"></button>

                    <i class="pi pi-bars ui-toolbar-separator"></i>

                    <button pButton type="button" icon="pi pi-check"></button>
                    <button pButton type="button" icon="pi pi-print"></button>
                    <button pButton type="button" icon="pi pi-trash"></button>
                </div>

                <div class="ui-toolbar-group-right">
                    <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-success"></p-splitButton>
                </div>
            </p-toolbar>
        </div>
    </div>
</div>
