    <app-topbar></app-topbar>

    <div class="layout-menu-container" (click)="onMenuClick($event)">
        <div class="layout-menu-logo">
            <a href="#">
                <img id="layout-menu-logo" src="assets/layout/images/logo-white.png" library="babylon-layout" />
            </a>
        </div>
        <div class="layout-menu-wrapper">
            <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
                <div class="menu-scroll-content">
                    <app-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></app-inline-profile>
                    <app-menu [reset]="resetMenu"></app-menu>
                </div>
            </p-scrollPanel>
        </div>
    </div>

    <div class="layout-main">
        <!-- <app-breadcrumb></app-breadcrumb> -->

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

    </div>

    <app-footer></app-footer>
